mixin category-slider
    .category-slider(class="swiper-container")
        .category-slider__wrapper(class="swiper-wrapper")

            .category-slider__content(class="swiper-slide")
                .category-slider__image
                    .category-slider__image-wrapper
                        .category-slider__title Акция недели
                        .category-slider__subtitle При покупке более трех вещей на сумму 3500р, бордовая юбка в подарок, а так же полностью бесплатная доставка.
                        a.category-slider__link Подробнее
                            
            .category-slider__content(class="swiper-slide")
                    .category-slider__image
                        .category-slider__image-wrapper
                            .category-slider__title Акция недели
                            .category-slider__subtitle При покупке более трех вещей на сумму 3500р, бордовая юбка в подарок, а так же полностью бесплатная доставка.
                            a.category-slider__link Подробнее

            .category-slider__content(class="swiper-slide")
                    .category-slider__image
                        .category-slider__image-wrapper
                            .category-slider__title Акция недели
                            .category-slider__subtitle При покупке более трех вещей на сумму 3500р, бордовая юбка в подарок, а так же полностью бесплатная доставка.
                            a.category-slider__link Подробнее

            .category-slider__content(class="swiper-slide")
                    .category-slider__image
                        .category-slider__image-wrapper
                            .category-slider__title Акция недели
                            .category-slider__subtitle При покупке более трех вещей на сумму 3500р, бордовая юбка в подарок, а так же полностью бесплатная доставка.
                            a.category-slider__link Подробнее
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next