mixin footer
    section.footer
      .container
        .footer__container
          .footer__copyright
            .footer__copyright-title BLACKTHORN
            .footer__copyright-subtitle BLACKTHORN 2017 — 2019.<br> Все права защищены.
            .footer__copyright-text Политика конфиденциальности
          .footer__wrapper
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href="") Главная
              li.footer__nav-item
                a.footer__nav-link(href="") Одежда
              li.footer__nav-item
                a.footer__nav-link(href="") Винтаж
              li.footer__nav-item
                a.footer__nav-link(href="") Аренда
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href="") Фотосъемка
              li.footer__nav-item
                a.footer__nav-link(href="") Контакты
              li.footer__nav-item
                a.footer__nav-link(href="") FAQ
              li.footer__nav-item
                a.footer__nav-link(href="") RU EN
          form.footer__form(action="")
            .footer__form-title Подписка
            div
              input(class="footer__form-input" type="text" name="E-mail" placeholder="Ваш E-mail")
            div
              button.footer__form-link Подписаться