@font-face {
    font-family: Exodus-PersonalUseSharpen;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/Exodus-PersonalUse-Sharpen.otf');
}
@font-face {
    font-family: Exodus-PersonalUseRegular;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/Exodus-PersonalUse-Regular.otf');
}
@font-face {
    font-family: Opinion-Pro;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/OpinionProExtended-Light.woff2');
}
@font-face {
    font-family: Opinion-Pro-Light;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/OpinionPro-Light.woff2');
}
@font-face {
    font-family: Playfair-Display;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: Mason-Chronicles-Regular;
    font-weight: normal;
    font-style: normal;
    src:url('../../src/fonts/Mason_Chronicles_Regular_Wither.ttf');
}
