.container{
    @include container;
}

// === header ===
.header{
    overflow: hidden;
    position: relative;
    &__container{
        background-image: url('../../src/img/header-background.png');
        @include background-cover;
        height: 100vh;
        position: relative;
        animation: header 1.6s 1 linear;
        @include animation-parametrs;
        animation-delay: 2.7s;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        margin: auto;
        padding-top: 50px;
    }
    &__logo{
        opacity: 0;
        animation: logo 1s linear;
        @include animation-parametrs;
    }
    &__nav-list{
        display: flex;
        justify-content: space-between;
        width: 550px;
        margin: auto;
        animation: navigation 1s linear;
        opacity: 0;
        transform: translateY(-150px);
        & li:nth-child(n+2):before{
            content:'';
            position: absolute;
            width: 45px;
            height: 2px;
            border-bottom: 1px solid $color-text;
            left: -65px;
            top:7px;
        }
    }
    &__nav-item{
        position: relative;
    }
    &__nav-link{
        color: $color-text;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 3px;
        transition: $transition;
        &:hover{
            opacity:$color-hover;
        }
    }
    &__social{
        position: absolute;
        bottom:23%;
        left:-2%;
        transform: rotate(-90deg);
        animation: social 1s linear;
        @include animation-parametrs;
        opacity: 0;
        transform: translateX(-100px) rotate(-90deg);
        &-list{
            display: flex;
        }
        &-item{
            padding-right: 20px;
        }
        &-link{
            font-family: $font-Arimo;
            font-size: 16px;
            color:$color-text;
            transition: $transition;
            &:hover{
                color:#7A7B7B;
            }
        }

    }
    .menu-button{
        cursor: pointer;
        animation: menu-button .5s linear;
        @include animation-parametrs;
        transform: translate(200px);
        opacity: 0;
    }
    .menu-button svg{
        transition: $transition;
        &:hover{
            opacity: $color-hover;
        }
    }
    .menu{  
        position: fixed;
        z-index: -1; //// !!!!!!!!!!!!!!!!
        top:0;
        bottom:0;
        left:0;
        right:0;
        backdrop-filter: blur(7px);
        opacity: 0;
        &-hidden{
            color: $color-text;
            position: fixed;
            top:0;
            right:-40%;
            bottom: 0;
            width:40%;
            background: #0B0B0B;
            z-index: 999999;
            &__close{
                position: absolute;
                right: 7%;
                top:6%;
                width: 50px;
                height: 50px;
                background-image: url('../../src/img/close-menu.svg');
                background-repeat: no-repeat;
                cursor: pointer;
                transition: $transition;
                z-index: 10;
                &:hover{
                    opacity: $color-hover;
                }
            }
            &__container{
                height: 100vh;
                display: flex;
                align-items: center;
            }
            &__wrapper{
                padding-left: 100px;
                width: 350px;
            }
            &__cart{
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 100px;
                &-icon{
                    opacity: 0;
                }
            }
            &__language{
                font-family: $font-Opinion-Pro-Light;
                width:70px;
                display: flex;
                justify-content: space-between;
                
                &-link{
                    &--1, &--2{
                        opacity: 0;
                    }
                    color:$color-text;
                    transition: $transition ;
                    &:hover{
                        opacity: $color-hover;
                    }
                }
            }
            &__nav-list{
                padding-bottom: 100px;
                padding-left: 25px;
                & li:nth-child(1):before{
                    position: absolute;
                    content:'01';
                }
                & li:nth-child(2):before{
                    position: absolute;
                    content:'02';
                }
                & li:nth-child(3):before{
                    position: absolute;
                    content:'03';
                }
                & li:nth-child(4):before{
                    position: absolute;
                    content:'04';
                }
                & li:nth-child(5):before{
                    position: absolute;
                    content:'05';
                }
                & li:nth-child(6):before{
                    position: absolute;
                    content:'06';
                }
                & li:nth-child(2):after{
                    position: absolute;
                    content:'';
                    width:160px;
                }
                & li:nth-child(3):after{
                    position: absolute;
                    content:'';
                    width:70px;
                }
                & li:nth-child(4):after{
                    position: absolute;
                    content:'';
                    width:135px;
                }
                & li:nth-child(5):after{
                    position: absolute;
                    content:'';
                    width:135px;
                }
                & li:nth-child(6):after{
                    position: absolute;
                    content:'';
                    width:135px;
                }
                
                
            }
            &__nav-item{
                margin-bottom: 50px;
                position: relative;
                &--1, &--2, &--3, &--4, &--5, &--6{
                    opacity: 0;
                    transform: translateY(60px);
                }
                &::before{
                    position: absolute;
                    content:'';
                    font-family: $font-Opinion-Pro-Light;
                    font-size: 14px;
                    width: 24px;
                    height: 19px;
                    color: $color-text;
                    left: -27px;
                    top:8px;
                    transform: rotate(-90deg);
                }
                &::after{
                    position: absolute;
                    content:'';
                    background-image: url('../../src/img/menu-link-hover.svg');
                    background-repeat: none;
                    width: 201px;
                    height: 17px;
                    left:-5px;
                    top:13px;
                    z-index: -1;
                    opacity: 0;
                    transition: $transition;
                }
                &:hover::after{
                    opacity:1;
                }
            }
            &__nav-link{
                font-family: $font-Opinion-Pro-Light;
                font-size: 35px;
                color:$color-text;
                transition: $transition;
                &:hover{
                    opacity: $color-hover;
                }
                
            }
            &__feedback{
                font-family: $font-Opinion-Pro-Light;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 3px;
                text-transform: uppercase;
                width: 178px;
                padding-bottom: 8px;
                margin-bottom: 40px;
                position: relative;
                transition: $transition;
                opacity: 0;
                &:hover{
                    opacity: $color-hover;
                }
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 178px;
                    height: 2px;
                    border-bottom: 1px solid $color-text;
                    cursor: pointer;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top:5px;
                    right: 0px;
                    background-image: url('../../src/img/feedback-link.svg');
                    background-repeat: none;
                    width: 18px;
                    height: 6px;
                    cursor: pointer;
                }
                &-link{
                    color:$color-text;
                    padding-bottom: 15px;
                }
            }
            &__social{
                font-family: $font-Arimo;
                display: flex;
                justify-content: space-between;
                max-width:250px;
                &-button{
                    &--1, &--2, &--3{
                        opacity: 0;
                        transform: translateY(60px);
                    }
                }
                &-link{
                    color:$color-text;
                    transition: $transition;
                    opacity: .5;
                    &:hover{
                        opacity: .2;
                    }
                }
            }
        }
    }
    &__intro{
        position: relative;
        font-family: $font-Exodus-PersonalUseSharpen;
        color:$color-text;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-text{
            position: relative;
            &--main{
                font-size: 110px;
            }
            &--decorationTop{
                position: absolute;
                width: 0px;
                height: 1px;
                border-bottom:1px solid $color-text;
                top:-25px;
                animation: content-docoration 1s linear;
                @include animation-parametrs;
            }
            &--decorationBot{
                position: absolute;
                width: 0px;
                height: 1px;
                border-bottom:1px solid $color-text;
                bottom:-25px;
                right:0;
                animation: content-docoration 1s linear;
                @include animation-parametrs;
            }
        }
    }
    &__scroll{
        width: 300px;
        margin: auto;
        text-align: center;
        animation: scroll 2s linear;
        @include animation-parametrs;
        opacity: 0;
        &-link{
            font-family: $font-Arimo;
            color:$color-text;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 3px;
            transition: $transition;
            &:hover{
                opacity: $color-hover;
            }
        }
        &-arrow{
            padding-top: 10px;
            transition: $transition;
        }
        &-link:hover + &-arrow{
            opacity: $color-hover;
        }
    }
}

@media (min-width:$md-max) and (max-width: $notebooks){
    .header{
        &__wrapper{
            padding-top: 30px;
        }
        &__nav-link{
            font-size: 10px;
        }
        &__intro{
            height: 65%;
            &-text{
                font-size: 80px;
            }
        }
        &__scroll{
            &-link{
                font-size: 10px;
            }
        }
        &__social{
            &-link{
                font-size: 12px;
            }
        }
        .menu-hidden{
            &__cart{
                padding-bottom: 20px;
                &-icon{
                    padding-right: 20px;
                }
            }
            &__nav-list{
                padding-bottom: 40px;
            }
        }
    }
}

@media (max-width:$md-min){
    .header{
        &__nav-list{
            width:370px;
            & li:nth-child(n+2):before{
                display: none;
            }
        }
        &__intro{
            &-text{
                &--main{
                    font-size: 60px;
                }
            }
        }
    }
}

@media (max-width: $md-max){
    .header{
        &__wrapper{
            padding-top: 20px;
        }
        &__nav-link{
            font-size: 10px;
        }

    }
}

@media (min-width:$md-min) and (max-width:$md-max){
    .header{
        &__nav-list{
            width:470px;
            & li:nth-child(n+2):before{
                left: -60px;
            }
        }
        &__intro{
            height: 70%;
            &-text{
                &--main{
                font-size: 70px;
                }
            }
        }
        &__social{
            left:-15%;
            &-link{
                font-size: 12px;
            }
        }
        .menu-hidden{
            width:70%;
            &__close{
                &::before, &::after{
                    top:40px;
                    right:20px;
                }
            }
        }
    }
}

@media (max-width:$sm){
    .header{
        &__container{
            background-size: cover;
            
        }
        &__logo{
            transform: scale(.7);
        }
        &__nav-list{
            display: none;
        }
        .menu-button{
            width:50px;
        }
        .menu-button svg{
            width:100%;
        }
        &__intro{
            height: 72%;
            &-text{
                &--main{
                    font-size: 40px;
                }
                &--decorationTop, &--decorationBot{
                    position: absolute;
                    border-bottom:none;
                    background-image: url('../../src/img/intro-decoration.svg');
                    background-repeat: no-repeat;
                    width: 0px;
                    height: 20px;
                }
                &--decorationTop{
                    left:-22%;
                }
                &--decorationBot{
                    right:-22%;
                    transform: rotate(180deg);
                }
            }
        }
        &__scroll{
            display: none;
        }
        &__social{
            left: -20%;
            bottom:20%;
            &-link{
                font-size: 14px;
            }
        }
    }
    .menu{
        &-hidden{
            width:100%;
            right: -100%;
            &__wrapper{
                padding-left: 20px;
            }
            &__cart{
                padding-bottom: 30px;
                &-icon{
                    padding-right: 50px;
                }
            }
            &__close{
                transform: scale(.5);
                top:1%;
                right:1%;
            }
        }
    }
    .header .menu-hidden{
        width:100%;
        right: -100%;
    }
    .header .menu-hidden__close{
        top:1%;
        right:1%;
    }
    .header .menu-hidden__wrapper{
        padding-left: 50px;
    }
    .header .menu-hidden__nav-list{
        padding-bottom: 0;
    }
    .header .menu-hidden__nav-link{
        font-size: 24px;
    }
    .header .menu-hidden__cart{
        padding-bottom: 30px;
    }
    .header .menu-hidden__nav-item::after{
        display: none;
    }
    .header .menu-hidden__nav-item::before{
        top:1px;
    }
}
@media (min-width:541px) {
    .menu-hidden__nav-item--4,
    .menu-hidden__nav-item--5,
    .menu-hidden__nav-item--6{
        display: none;
    }
}
// === /header ===

// === about ===
.about{
    background-image: url('../../src/img/about-background.png');
    @include background-cover;
    overflow: hidden;
    &__wrapper{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    &__slides{
        max-height: 340px;
        &-item{
            animation: slides 1.3s 1;
            animation-timing-function: ease;
        }
        &-item img{
            box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);
        }
    }
    .buttons-block{
        position: relative;
    }
    .slide-button{
        position: absolute;
        right:0;
        top:25px;
        cursor: pointer;
        transition: $transition;
        width:15px;
        height: 15px;
        &:hover{
            opacity: $color-hover;
        }
        &-left{
            right:70px;  
        }
    }
    .slide-button-left{}
    .slide-button-right{}
    .dots-block{
        display: flex;
        align-items: center;
        margin-top: 25px;
        position: relative;
        font-family: $font-Exodus-PersonalUseSharpen;
        &::before{
            content: '01';
            color:$color-text;
            margin-right: 10px;
        }
        &::after{
            content: '05';
            color:$color-text;
            margin-left: 10px;
        }
    }
    .dots-item{
        position: relative;
        cursor: pointer;
        height: 2px;
        width: 70px;
        background: $color-text;
        transition: $transition;
    }
    .active{
        background: #7A7B7B;
        transition: $transition;
     }
    &__content{
        padding-left: 50px;
        color:$color-text;
        max-width: 260px;
        &-title{
            font-family: $font-Opinion-Pro-Extended;
            font-size: 20px;
            line-height: 22px;
            text-transform: uppercase;
            padding-bottom: 23px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url('../../src/img/about-title-decoration.svg');
                width: 100vh;
                height: 20px;
                left:130px;
                top:0;
            }
        }
        &-text{
            font-family: $font-Opinion-Pro-Light;
            font-size: 16px;
            line-height: 22px;
            color: #D8D8D8;
            padding-bottom: 40px;
        }
        &-feedback{
            font-family: $font-Opinion-Pro-Light;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 3px;
            text-transform: uppercase;
            width: 178px;
            padding-bottom: 8px;
            position: relative;
            transition: $transition;
            &:hover{
                opacity: $color-hover;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                width: 178px;
                height: 2px;
                border-bottom: 1px solid $color-text;
                cursor: pointer;
            }
            &::after{
                content: '';
                position: absolute;
                top:5px;
                right: 0px;
                background-image: url('../../src/img/feedback-link.svg');
                background-repeat: none;
                width: 18px;
                height: 6px;
                cursor: pointer;
            }
        }
        &-link{
            color:$color-text;
        }
    }
    &__scroll{
        height: 10vh;
        width: 300px;
        margin: auto;
        text-align: center;
        &-link{
            font-family: $font-Arimo;
            color:$color-text;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 3px;
            transition: $transition;
            &:hover{
                opacity: $color-hover;
            }
        }
        &-arrow{
            padding-top: 10px;
            transition: $transition;
        }
        &-link:hover + &-arrow{
            opacity: $color-hover;
        }
    }
}
@media (max-width: $md-max){
    .about{
        &__wrapper{
            padding-top: 55px;
            flex-direction: column;
            height: 100%;
        }
        &__container{
            transform: scale(.6);
        }
        &__content{
            max-width: 540px;
            padding-left: 30px;
            padding-bottom: 30px;
            &-feedback{
                display: none;
            }
        }
        &__slider{
            max-width: 540px;
            width: 100%;
            margin-bottom: 48px;
        }
        &__content{
            padding: 0;
        }
        &__content-text{
            padding-bottom: 63px;
        }
        &__slides-item{
            position: relative;
            padding-bottom: 63%;
        }
        &__slides-img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
@media (max-width: $sm) {
    .about{
        .buttons-block{
            display: none;
        }
    }
}
// === /about ===

// === catalog ===
.catalog{
    background-image: url('../../src/img/catalog-background.png');
    @include background-cover;
    &__container{
        padding-bottom: 120px;
        @include margin-auto;
    }
    &__nav-list{
        display: flex;
        justify-content: space-between;
        width:210px;
        padding-top: 55px;
        padding-bottom: 60px;
        & li:nth-child(n+2):before{
            content:'';
            position: absolute;
            width: 15px;
            height: 2px;
            border-bottom: 1px solid $color-text;
            left: -23px;
            top:7px;
        }
    }
    &__nav-item{
        position: relative;
    }
    &__nav-link{
        font-family: $font-Opinion-Pro-Light;
        color:$color-text;
    }
    &__swiper-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:1000px;
    }
    &__wrapper{
        position: relative;
        max-width: 300px;
        height: auto;
        &:before{
            content: '';
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right: 0;
            opacity: 0;
            transition: $transition;
            backdrop-filter: blur(27px);
        }
        &:hover::before{
            opacity: 1;
        }
        &:hover .catalog__content-hover{
            opacity: 1;
        }
    }
    &__content{
        color:$color-text;
        flex-basis: 30%;
        max-width: 30%;
        &-image{
            max-width:300px;
        }
        &-image img{
            width:100%;
            height: auto;
        }
        &-title{
            font-family: $font-Playfair-Display;
            font-size: 30px;
            padding-bottom: 16px;
        }
        &-subtitle{
            font-family: $font-Opinion-Pro-Light;
            font-size: 16px;
            line-height: 28px;
            padding-bottom: 30px;
            max-width: 290px;
        }
        &-hover{
            opacity: 0;
            transition: $transition;
            z-index:99;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../../src/img/decoration-top.svg');
                background-repeat: no-repeat;
                width: 77px;
                height: 102px;
                top:15px;
                right:15px;
                z-index: 1000;
            }
            &::after{
                content: '';
                position: absolute;
                background-image: url('../../src/img/decoration-bottom.svg');
                background-repeat: no-repeat;
                width: 77px;
                height: 102px;
                bottom:15px;
                left:15px;
            }
        }
        &-link_position{
            position: absolute;
            top:50%;
            margin-top: -15px;
            left:50%;
            margin-left: -60px;
        }
        &-link{
            font-family: $font-Opinion-Pro-Light;
            color: $color-text;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 3px;
            text-transform: uppercase;
            width: 178px;
            padding-bottom: 8px;
            position: relative;
            transition: $transition;
            &:hover{
                opacity: .6;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                width: 113px;
                height: 2px;
                border-bottom: 1px solid $color-text;
            }
            &::after{
                content: '';
                position: absolute;
                top:5px;
                right: -20px;
                background-image: url('../../src/img/feedback-link.svg');
                background-repeat: none;
                width: 18px;
                height: 6px;
            }
            
        }
    }
    
    .swiper-container-horizontal >
    .swiper-pagination-bullets
    .swiper-pagination-bullet{
        
        margin: 0 8px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 10px;
    }
    .swiper-pagination-bullet{
        background-color: #FFFFFF;
        transform: scale(.9);
    }
    .swiper-pagination-bullet-active{
        transition: $transition;
        position: relative;
        transition: $transition;
        
        transform: scale(1.1);
        &::before{
            position: absolute;
            content: '';
            background-image: url('../../src/img/pagination-decor.svg');
            background-repeat: no-repeat;
            
            border-radius: 100%;
            width: 22px;
            height: 22px;
            top:-5px;
            left:-5px;
            animation: pagination 0.2s 1 ease-in;
        }
    }
}


@media (min-width: $md-min) and (max-width: $md-max){
    .catalog{
        &__container{
            padding-bottom: 50px;
        }
    }
}

@media (max-width:$sm){
    .catalog{
        .container{
            padding: 0;
        }
        &__container{
            padding-bottom: 50px;
            padding-right:0px;
            padding-left: 20px;
        }
        &__swiper-wrapper{
            
        }
        &__nav-list{
            padding-top: 30px;
            padding-bottom: 30px;
            & li:nth-child(1), & li:nth-child(2) {
                display: none;
            }
            li:nth-child(3):before{
                display: none;
            }
        }
        &__content{
            flex-basis: 100%;
            max-width:110%;
            padding-bottom: 60px;
            margin:auto;
        }
    }
}
// === /catalog ===

// === contacts ===
.contacts{
    background-image: url('../../src/img/contacts-backgound.png');
    @include background-cover;
    padding-bottom: 80px;
    min-height: 900px;
    &__container{
        color:$color-text;
    }
    &__title{
        font-family: $font-Playfair-Display;
        font-size: 28px;
        line-height: 37px;
        padding: 20px 0;
    }
    &__info{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 40px;
    }
    &__map{
        display: flex;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
    &__data{
        line-height: 20px;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    &__row{
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 22px;
        display: flex;
        justify-content: space-between;

        &:not(:first-child) {
            padding-top: 20px;
        }
    }
    &__social{
        padding: 8px 0;
        display: flex;
    }
    &__social-link{
        width: 48px;
        height: 48px;

        &:hover{
            opacity: 0.5;
        }
    }
    &__feedback{
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    &__question{
        line-height: 23px;
        margin-bottom: 31px;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__inputs-row{
        display: flex;
        justify-content: space-between;
    }
    &__form-input{
        margin-bottom: 30px;
        font: inherit;
        background: none;
        border: none;
        opacity: 0.5;
        border-bottom: 1px solid #FFFFFF;
        padding: 15px 0;
        flex-grow:1;
        
        &:first-child{
            margin-right: 60px;
        }

        &:active,
        &:focus {
            opacity: 1;
            outline: none;
            color: $color-text;
        }
    }
    &__form-textarea{
        margin-bottom: 30px;
        font: inherit;
        background: none;
        border: none;
        opacity: 0.5;
        border-bottom: 1px solid #FFFFFF;
        resize: none;
        padding: 15px 0 0;

        &:active,
        &:focus {
            opacity: 1;
            outline: none;
            color: $color-text;
        }
    }
    &__form-link{
        font: inherit;
        background: none;
        border: none;
        text-align: left;
        width: 111px;
        font-family: $font-Opinion-Pro-Light;
        color: $color-text;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: uppercase;
        outline:none;
        padding: 0 0 8px 0;
        cursor: pointer;
        background: transparent;
        position: relative;
        transition: $transition;
        border-bottom: 1px solid #FFFFFF;
        &:hover{
            opacity: $color-hover;
        }
        &::after{
            content: '';
            position: absolute;
            top: 3px;
            right: 0px;
            background-image: url('../../src/img/feedback-link.svg');
            background-repeat: none;
            width: 18px;
            height: 6px;
        }
    }
}
@media (min-width: $md-max) {
    .contacts{
        &__info{
            flex-direction: row;
            padding-bottom: 45px;
        }
        &__title{
            font-size: 50px;
            line-height: 74px;
            padding: 75px 0 65px 0;
        }
        &__map{
            margin-bottom: 0;
            min-width: 477px;
            max-width: 477px;
            max-height: 100%;
            margin-right: 71px;
        }
        &__data{
            font-size: 18px;
            max-width: 51%;
            flex-basis: 51%;
        }
        &__row{
            &:first-child{
                border-top: 1px solid #FFFFFF;
                padding-top: 20px;
            }
        }
        &__social{
            padding-bottom: 0;
        }
        &__feedback{
            flex-direction: row;
        }
        &__question{
            min-width: 477px;
            max-width: 477px;
            margin-right: 71px;
            margin-bottom: 0;
        }
        &__form{
            max-width: 51%;
            flex-basis: 51%;
        }
    }
}
@media (min-width: $md-max){
    .contacts{
        padding-bottom: 0;
        height: 100vh;
    }
}
@media (max-width:$sm){
    .contacts{
        &__inputs-row{
            flex-direction: column;
            
        }
        &__form-input:first-child{
            margin-right: 0;
        }
    }
}
// === /contacts ===

// === footer ===
.footer{
    background-color:#000;
    &__container{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 40px;
        color:$color-text;
        max-width: 1020px;
    }
    &__copyright{
        &-title{
            font-family: $font-Exodus-PersonalUseRegular;
            font-size: 18px;
            line-height: 20px;
            padding-bottom: 20px;
        }
        &-subtitle{
            font-family: $font-Opinion-Pro-Light;
            font-size: 14px;
            line-height: 20px;
            text-transform: lowercase;
            opacity: .5;
            padding-bottom: 10px;
        }
        &-text{
            font-family: $font-Opinion-Pro-Light;
            font-size: 16px;
            text-decoration-line: underline;
            opacity: .5;
        }
    }
    &__wrapper{
        width: 27%;
        display: flex;
        justify-content: space-between;
        
    }
    &__nav-list{}
    &__nav-item{
        font-family: $font-Opinion-Pro-Light;
        font-size: 16px;
        transition: $transition;
        &:hover{
            opacity: $color-hover;
        }
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    &__nav-link{
        color:$color-text;
    }
    &__btn-container{
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;
    }
    &__form{
        &-title{
            font-family: $font-Opinion-Pro-Light;
            font-size: 16px;
        }
        &-input{
            font-family: $font-Opinion-Pro-Light;
            color: $color-text;
            background: none;
            border:none;
            height: 40px;
            width:260px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            outline: none;
            margin-bottom: 15px;    
        }
        &-link{
            text-align: left;
            width: 132px;
            font-family: $font-Opinion-Pro-Light;
            color: $color-text;
            font-size: 12px;
            letter-spacing: 3px;
            text-transform: uppercase;
            border:none;
            outline:none;
            padding: 0 0 8px 0;
            cursor: pointer;
            background: transparent;
            position: relative;
            transition: $transition;
            border-bottom: 1px solid #FFFFFF;
            &:hover{
                opacity: $color-hover;
            }
            &::after{
                content: '';
                position: absolute;
                top: 3px;
                right: 0px;
                background-image: url('../../src/img/feedback-link.svg');
                background-repeat: none;
                width: 18px;
                height: 6px;
            }
        }
    }
}
@media(max-width: $sm) {
    .footer{
        &__container{
            max-width: 305px;
        }
    }
}
@media(max-width: $sm){
    .footer{
        &__container{
            flex-direction: column;
        }
        &__copyright{
            padding-bottom: 35px;
        }
        &__nav-list{
            display: none;
        }
        &__form-input{
          width: 100%;
        }
    }
}
@media(max-width: $md-min) {
    .footer{
        &__wrapper{
            display: none;
        }
    }
}
// === /footer ===