@mixin background-cover{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $font-Arimo;
}

@mixin pseudo{
    content: $content;
    position: $position;
    display: $display;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin container{
    max-width: 1120px;
    padding: 0 35px;
    margin: 0 auto;
}

@mixin animation-parametrs{
  animation-fill-mode: both;
  animation-delay: $animation-delay;
}

@mixin margin-auto{
  max-width:1140px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}