$color-text:#fff;
$color-hover: .6;
$color-main:#171B1A;

$font-Opinion-Pro-Light: "Opinion-Pro-Light";
$font-Arimo: 'Arimo', sans-serif;
$font-Exodus-PersonalUseSharpen: "Exodus-PersonalUseSharpen";
$font-Exodus-PersonalUseRegular: "Exodus-PersonalUseRegular";
$font-Opinion-Pro-Extended: "Opinion-Pro";
$font-Playfair-Display: "Playfair-Display";
$font-Mason-Chronicles-Regular: "Mason-Chronicles-Regular";

$transition: .3s ease;
$animation-delay: 4.3s;

$mb-min: 320px;
$mb: 375px; //del
$mb-max: 480px;
$sm: 540px;  

$md-min:768px;
$md-max:960px;

$xl:1200px;
$notebooks:1440px;
$desktop: 1920px; // del